@model DogTricksApplication.Models.DogDto
@{
    ViewBag.Title = "Details";
}
<a href="/Dog/Update/@Model.DogId" class="navbar-link">Update</a>
<a href="/Dog/DeleteConfirm/@Model.DogId" class="navbar-link">Delete</a>
<a href="/Dog/List">Go back to Dog List</a>
<h2>@Model.DogName</h2>
<p>Age: @Model.DogAge</p>
<p>Birthday: @Model.DogBirthday.ToString("MMMM dd, yyyy")</p>
<p>Breed: @Model.DogBreed</p>


