@{
    ViewBag.Title = "Home Page";
}
<div class="bg-image"
     style="background-image: url('https://cdn.vectorstock.com/i/1000x1000/25/20/dogs-cartoons-in-park-design-vector-26242520.webp'); height: 100vh">
    <div class="jumbotron">
        <h1>Welcome to Dogs Journey</h1>
        <p class="lead">A new way to find cool tricks to teach your dog. </p>
        <p>Track your pup's progess here too! You can add tricks to your pup's wheelhouse.'</p>
    
    </div>

    <div class="row">
        <div class="col-md-4 text-white bg-dark mb-3 border-primary card ">
            <h2>Add your pup</h2>
            <p>
                enter your pup's information here!'
            </p>
            <p><a class="btn btn-default" href="~/Dog/New">Add a pup</a></p>
        </div>
        <div class="col-md-4">
            <h2>Check out the tricks you're dog could learn today</h2>
            <p><a class="btn btn-default" href="~/Trick/list">Go to Trick List</a></p>
        </div>
 
    </div>
</div>